 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Foodie is a mobile application for the Android platform. The purpose of this application is to offer the leftover food in mass consumption areas such as restaurants and cafeterias to users at a cheaper price without being thrown away. Users can list the restaurants that sell leftover food near their location, view these restaurants on the map and pay for the meals via the application.</p>
                </div>
                <div class="col-lg-4">
                    <p>In addition, users can view their past purchases to see how much money they have saved and add their favorite restaurants to their favorites list to receive notifications when a new meal is listed. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://google.com" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Foodie now!
                    </a>
                </div>
            </div>
        </div>
    </section>
