<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Reports</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<i class="fa fa-file-pdf-o" style="font-size:28px;color:red"><a href="https://drive.google.com/file/d/13nf6maoMQangWT9IcxlUuRGERlJL6Bjn/view?usp=sharing"> Analysis Report</a></i>
				<br><br><i class="fa fa-file-pdf-o" style="font-size:28px;color:red"><a href="https://drive.google.com/file/d/1fEOLuDSg4Cau6p9hQ5gzzomr2DjgFxjJ/view?usp=sharing"> Low Level Design Report</a></i>
				<br><br><i class="fa fa-file-pdf-o" style="font-size:28px;color:red"><a href="https://drive.google.com/file/d/1f-tiLpk5q4Ajk9TIeKXAIpHLW1rLb6Mn/view?usp=sharing"> High Level Design Report</a></i>
				<br><br><i class="fa fa-file-pdf-o" style="font-size:28px;color:red"><a href="https://drive.google.com/file/d/1UhTJsHNJNVSPQpFFrc5XvsN7jy-M4itC/view?usp=sharing"> Project Specifications Report</a></i>
				<br><br><i class="fa fa-file-pdf-o" style="font-size:28px;color:red"><a href="https://drive.google.com/file/d/1sjN2O4KpDY7MePBIq4bTqOXM4gMm65Js/view?usp=sharing"> Final Report</a></i>
			</div>
		</div>
	</div>
</section>
